header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #0f172a;
}

header p:hover {
    text-decoration: underline;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
   
}