html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url(./assets/Stars_Vector.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0f172a;
  font-family: Poppins;
  color: rgb(241, 245, 249);
}